@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@300..700&display=swap');

*{
    font-family: 'kreon','Arial';
    margin: 0;
    color: white;
}

body{
    background-color:#da6c22;
}


h1{
    margin: 10px;
    margin-bottom: 20px;
    font-size: 40px;
    color: white;
    text-align: center;
    font-family: 'kreon','Arial';
}
.adcionar{
    text-align: center;
    cursor: pointer;
}

#menu ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.conteiner{
    margin-bottom: 30px;
}

.informs{
    text-align: center;
}

.conteiner_espetos{
	display:flex;
	justify-content:space-between;
	padding:20px;
}
.conteiner_bebidass{
    display: flex;
    
}

.conteiner_acomp{
    display:flex;
	justify-content:space-between;
	padding:20px;
    margin-bottom: 20px;
}

.conteiner_whisky{
    display:flex;
	justify-content:space-between;
	padding:20px;
}

.botao{
    display: flex;
    justify-content: center;
    gap: 20px;
}
p{
    text-align: center;
    font-size: 20px;
}

#nome_cliente{
    margin: 20px 15px 30px 15px;
    display: inline;
    background: transparent;
    border: 0px;
    color:white;
    outline: none;
    border-bottom: 3px white solid;
    font-size: 20px;
    width: 150px;
}
.dados{
    text-align: center;
}


::-webkit-input-placeholder{
    color:white;
    opacity: 50%;
}
/*
input{
    margin: 20px 0px 10px 20px;
    display: flex;
    background: transparent;
    border: 0px;
    color: white;
    outline: none;
    border-bottom: 3px white solid;
    width: 150px;
    text-transform: uppercase;
}
*/

main{
    height: 400px;
}

.QUANT{
    margin: 0px 0px 0px 20px;
    display: flex;
    background: transparent;
    border: 0px;
    color: white;
    outline: none;
    border-bottom: 3px white solid;
    width: 40px;
    font-size:15px ;
}

.nome{
    display: flex;
    flex-direction: column;
    color: white;
    margin-left:40px ;
    font-size: 25px;
}

.itens{
    font-size: 30px;
    margin: 30px 0px 10px 20px;
    color: white;
    font-weight: bold;
    text-align: left;
    margin-left: 7%;
}
#butao_enviar{
    height: 35px;
    width: 120px;
    background-color:#6e2e03;
    color: aliceblue;
    font-size: 20px;
    border-radius: 10px;
    font-weight: bolder;
    justify-content: center;
    border: 0;
    cursor: pointer;
}

#butao_vale{
    width:150px;
    height: 35px;
    background-color:#6e2e03;
    color: aliceblue;
    font-size: 20px;
    border-radius: 10px;
    font-weight: bolder;
    border: 0;
    cursor: pointer;
}

.butao_vale{
    text-align: center;
    margin: 40px 0px 40px 0px;
}

.oculto{
    display: flex;
    justify-content: center;
}

#conteudoOculto{
    display: none;
    text-align: center;
    background-color: #6e2e03;
    width: 300px;
    height: auto;
    border-radius: 5px;
    border: solid 3px black;
    padding: 15px;
}

.campoVale{
    background: transparent;
    border: 0px;
    color: white;
    outline: none;
    border-bottom: 3px white solid;
    width: 160px;
    font-size: 20px;
    margin-bottom: 30px;
}

#butaoVale{
    width:150px;
    height: 35px;
    background-color:#cf590a;
    color: aliceblue;
    font-size: 20px;
    border-radius: 10px;
    font-weight: bolder;
    border: 0;
    cursor: pointer;
}

@media screen and (min-width:300px){

    .Campos_nome{
        width: auto;
    }
    

    main{
        margin-bottom: 70px;
    }
    .button{
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }

}
